/*
*
*	Title: Portfolio Website
*	Author: Aubrey Garcia
*	URI: http://www.aubreymae.github.io
*	Version: 1.0
*
*/


/* ============================================================== *
	IMPORTED FONTS
*  ============================================================== */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Josefin+Sans|Open+Sans+Condensed:300|Rationale|Quicksand');


h1,
h2,
h3,
h4,
h5,
h6
{
  position: relative;

	font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #787878;
}

a
{
  text-decoration: none;
  color: #5fcebf;
}

a:hover
{
  color: #f4df41;
}

/* ============================================================== *
	SIDEBAR
*  ============================================================== */

.site-sidebar
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;

	width: 25%;
	height: 100%;

	background-color: #5fcebf;
}

.site-sb-title
{
	position: absolute;
	top: 20%;
	right: 5%;

	font-family: 'Rationale', sans-serif;
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

.site-sb-title:hover
{
  color: #f4df41;
}

.site-sb-desc-tags
{
	position: absolute;
	top: 30%;
	right: 5%;

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 27px;
	font-style: italic;
	list-style-type: none;
	text-align: right;
	line-height: 35px;
	text-transform: uppercase;
	color: white;
}

.site-sb-block
{
	position: absolute;
	top: 55%;

	width: 100%;
	height: 30%;

	color: white;
}

.site-sb-block-button
{
	position: relative;
	float: bottom;

	display: block;
	padding: 10px;

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
	color: #5fcebf;
	background-color: white;
}

.site-sb-block a:hover
{
  color: white;
	background-color: #f4df41;
}


/* ============================================================== *
	MAIN CONTENT
*  ============================================================== */

.front-page-bg
{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 25%;

	width: 100%;
	height: 100%;

	background-color: #5fcebf;
}

.front-page-desc
{
	position: absolute;
	top: 40%;

	padding-right: 150px;

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	font-style: italic;
	text-align: right;
	color: white;
}

.front-page-enter
{
	position: absolute;
	right: 4%;
	bottom: 0;

	font-family: 'Rationale', sans-serif;
	font-size: 200px;
	color: white;
}

.site-content
{
	position: absolute;
	right: 10%;
	left: 28%;

	padding: 4px;

	/* border: 1px solid black; */
}

.content-page-title
{
	position: relative;

	font-family: 'Droid Sans', sans-serif;
	font-size: 38px;
	font-weight: bold;
	color: #5fcebf;
}

.content-page-text
{
	position: relative;

	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: #333333;
}

/* ==============================================================
	ABOUT PAGE
*/



/* ==============================================================
	PORTFOLIO
*/

.portfolio-gallery
{
	padding-top: 15px;
	padding-right: 20px;
}

.portfolio-gallery-img
{
	position: relative;
	display: block;

	width: 880px;
	height: 200px;
}

.portfolio-gallery-text
{
	position: relative;
	float: left;
	margin-bottom: 15px;

	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
}

.portfolio-gallery-text span
{
	position: absolute;
	display: none;
	top: 120px;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 20px;

	background: rgba(0, 0, 0, 0.6);
	color: #ddd;
}

.portfolio-gallery-text:hover span
{
	display: block;
}

#posters-content
{
  text-align: center;
}

.designwork-img
{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;

	width: 275px;
	height: 350px;
}

.portfolio3940-img
{
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    width: 530px;
    height: 680px;
}
