<div class="site-sidebar"> <!-- sidebar = sb -->
  <p class="site-sb-title">Aubrey Garcia</p>
  <ul class="site-sb-desc-tags">
    <li>Designer</li>
    <li>Programmer</li>
    <li>Creator</li>
  </ul>
  <div class="site-sb-block">
    <a class="site-sb-block-button" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="site-sb-block-button" href="{{ "/about" | prepend: site.baseurl }}">About</a>
    <a class="site-sb-block-button" href="{{ "/portfolio" | prepend: site.baseurl }}">Portfolio</a>
    <a class="site-sb-block-button" href="{{ "/contact" | prepend: site.baseurl }}">Contact</a>
  </div>
</div>
